body{background-color: #eee;}
h1.navbar-brand{margin: 0 auto;}
.container.margin-bottom-50{margin-bottom: 100px;}
form{margin-bottom: 50px;}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
	margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.pager li>button, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 15px;
}

.pager .previous>button, .pager .previous>span {
float: left;
}
.pager .next>button, .pager .next>span {
float: right;
}

.pager li>button:hover, .pager li>button:focus {
text-decoration: none;
background-color: #eee;
}

.pager li>button[disabled]{
  background-color: #eee;
}